apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: k8s-multi-com-tls
spec:
  secretName: k8s-multi-com
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: abl.ninja
  dnsNames:
    - abl.ninja
    - www.abl.ninja
  acme:
    config:
      - http01:
          ingressClass: nginx
        domains:
          - abl.ninja
          - www.abl.ninja